<a href="https://colab.research.google.com/github/52chen/python/blob/master/Python%E5%9F%BA%E7%A1%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 缩进
冒号和缩进来表示隶属关系

In [5]:
i = 1
x = 1
if i > 0:
    x = x+1
print(x)
print(8/5) #除法永远是返回一个浮点型

e = 2
if e >1 :
  print('e is bigger than 1')
  print('Good ')
  if e<3:
    print('e is samller than 2')
print('Alright ')

2
1.6
e is bigger than 1
Good
e is samller than 2
Alright

# For循环
range()

for 元素 in 序列:

while 条件:

continue

break

In [9]:
for a in [3,4.4,'life']:
    print(a)
#或者可以写成下面的句子
# for a in range(10):
#    print(a**2) ##这里是平方

for i in range(10):
    if i == 2: 
        continue
    print(i)

3
4.4
life
0
1
3
4
5
6
7
8
9

# 函数

In [12]:
def hello(a,b):
  c = a**2 + b**2
  return c,a  #这个是返回一个元组tuple 相当于 return (a,b,c)
print(hello(1,1))

(2, 1)